.calculator__checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.calculator__checkbox:checked {
  background-color: var(--primary_color);
}

.calculator__checkbox:checked::after {
  content: '✓';
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--tertiary_color);
  font-size: 14px;
}

.calculator .btn-contact {
  transition: all 0.2s;
}
@media (hover: hover) {
  .calculator .btn-contact:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  }
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 9999px;
  background: #e5e7eb; /* gray-200 */
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #E16C38; /* ton orange */
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  margin-top: -8px; /* pour centrer verticalement */
}

.range-slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #E16C38;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}


.calculator .btn-calendly button{
  padding: 0.75rem 1.5rem;
}
