.horizontal-accordion__card-description {
  --bg: var(--primary_color);
  --border-angle: 0deg;
  border-radius: 12px;
  box-shadow: 0px 2px 4px hsl(0 0% 0% / 25%);
  animation: border-angle-rotate 5s infinite linear;
  border: 1px solid transparent;
  position: relative;
  background: linear-gradient(var(--primary_color), var(--primary_color)) padding-box,
  conic-gradient(
      from var(--border-angle),
      var(--bg) 50%,
      var(--tertiary_color)
    )
    border-box;
}

@keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
