@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #222222;
  --color-secondary: #F7F2E8;
  --color-tertiary: #E16C38;
  --color-white: #ffffff;
  --color-dark: #000000;

  --container-horizontal-padding: 2rem;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-horizontal-padding);
  padding-right: var(--container-horizontal-padding);
  width: 100%;
}

@media (min-width: 449px) {
  .container {
    max-width: 449px;
  }
}
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 728px) {
  .container {
    max-width: 728px;
  }
}
@media (min-width: 984px) {
  .container {
    max-width: 984px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}


@keyframes fade-in-zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.fade-in-zoom {
  animation: fade-in-zoom 0.7s ease-out forwards;
}
