@import "tailwindcss";
@import url('../app/style/fonts.css');
@import url('../app/style/layout.css');
@import url('../app/style/typography.css');
@import url('../app/style/variables.css');
@import url('../app/style/organisms/skills.css');
@import url('../app/style/organisms/offers.css');
@import url('../app/style/organisms/works.css');

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #222222;
  --color-secondary: #F7F2E8;
  --color-tertiary: #E16C38;
  --color-white: #ffffff;
  --color-dark: #000000;

  --container-horizontal-padding: 2rem;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-secondary);
  color: var(--foreground);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-horizontal-padding);
  padding-right: var(--container-horizontal-padding);
  width: 100%;
}

@media (min-width: 449px) {
  .container {
    max-width: 449px;
  }
}
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 728px) {
  .container {
    max-width: 728px;
  }
}
@media (min-width: 984px) {
  .container {
    max-width: 984px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}


@keyframes fade-in-zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.fade-in-zoom {
  animation: fade-in-zoom 0.7s ease-out forwards;
}

.botToTopHover {
  background-image: linear-gradient(
    180deg,
    var(--color-secondary) 0%,
    var(--color-secondary) 49.9%,
    var(--color-tertiary) 50%,
    var(--color-tertiary) 100%
  );
  background-size: 100% 200%;
  background-position: 0% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1s ease;

  &:hover {
    background-position: 0% 100%;
  }
}
.botToTopHover--pt {
  background-image: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary) 49.9%,
    var(--color-tertiary) 50%,
    var(--color-tertiary) 100%
  );
  background-size: 100% 200%;
  background-position: 0% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1s ease;

  &:hover {
    background-position: 0% 100%;
  }
}
@media (min-width: 1024px) {
  .botToTopHover--desktop {
    background-image: linear-gradient(
      180deg,
      var(--color-secondary) 0%,
      var(--color-secondary) 49.9%,
      var(--color-tertiary) 50%,
      var(--color-tertiary) 100%
    );
    background-size: 100% 200%;
    background-position: 0% 0%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1s ease;

    &:hover {
      background-position: 0% 100%;
    }
  }
}

.btn-calendly button {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.logo--hover-effect.animate span {
  animation: wave 1s ease-in-out forwards;
}

.logo--hover-effect.animate span:nth-child(1) {
  animation-delay: 0s;
}
.logo--hover-effect.animate span:nth-child(2) {
  animation-delay: 0.2s;
}
.logo--hover-effect.animate span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
