section {
  padding: 2rem 0;
}

@media (min-width: 1024px) {
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--slow_transition), transform var(--slow_transition);
}
