body {
  margin: 0;
  background-color: #F7F2E8;
  font-family: 'Work Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.75rem;
  line-height: calc(2.5/2.25);
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 2rem;
  line-height: calc(2.5/2.25);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem
  }
}
